<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782640777617-8o5rrb322uovtlaj2fco902bokkcsbgq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782640777617-8o5rrb322uovtlaj2fco902bokkcsbgq</string>
	<key>API_KEY</key>
	<string>AIzaSyBPbTR8YFN159VF95xbircjp-6qDJngGjs</string>
	<key>GCM_SENDER_ID</key>
	<string>782640777617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTask2</string>
	<key>PROJECT_ID</key>
	<string>sadiq-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>sadiq-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782640777617:ios:3b87dc112bf4c4782d7230</string>
</dict>
</plist>